/* pre-ipo.html ============================================= */

.s-main-preipo {
  padding-top: 110px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 209px;
    left: 0;
    right: 0;
    top: auto;
    background: #f2f8fb;
    z-index: -1;
  }
}

.main-preipo__title {
  display: flex;
  padding-top: 60px;
  background-color: #fff;
  h1 {
    font-size: 100px;
    margin-bottom: 134px;
  }
  &-left {
    padding-left: 86px;
    padding-right: 79px;
    position: relative;
    width: 50%;
    background-color: #fff;
    border-right: 1px solid #e9f2f7;
  }
  &-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-left: 122px;
    padding-bottom: 87px;
  }
  &-gradient {
    position: relative;
    padding-bottom: 73px;
    padding-top: 84px;
    margin-top: 97px;
    &::before {
      content: "";
      position: absolute;
      background: #63be37;
      left: -86px;
      top: 0;
      bottom: 0;
      right: -81px;
    }
    p {
      font-weight: 400;
      font-size: 21px;
      line-height: 130%;
      letter-spacing: -0.01em;
      color: #ffffff;
      margin-bottom: 0;
      position: relative;
      z-index: 1;
    }
  }
}

.main-preipo__img {
  height: 209px;
  position: absolute;
  left: 50%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.main-preipo__title-right .stages__item {
  margin-bottom: 45px;
}
.main-preipo__title-right .stages__item-number {
  margin-right: 15px;
}
.main-preipo__title-right .stages__item-text h3 {
  font-size: 35px;
  margin-bottom: 15px;
}
.main-preipo__title-right .stages__item-text p {
  font-size: 19px;
}

/* s-what-preipo */
.s-what-preipo {
  padding-top: 130px;
  padding-bottom: 97px;
  background: #f2f8fb;
}
.s-what-preipo h2 {
  font-family: var(--headlineFont);
  font-weight: 400;
  font-size: 65px;
  line-height: 90%;
  color: #363f41;
  margin-bottom: 86px;
}
.s-what-preipo .block-info p {
  font-size: 25px;
}
.s-what-preipo__img {
  margin-top: 86px;
}
.s-what-preipo__img img {
  width: 100%;
  height: 100%;
}

/* preipo-banner */

.preipo-banner {
  background: #63be37;
  padding: 91px 0 63px;
}
.preipo-banner__inside {
  display: flex;
  justify-content: center;
  padding: 0 40px;
}
.preipo-banner__text {
  margin-right: 60px;
}
.preipo-banner__text h3 {
  font-family: var(--headlineFont);
  font-weight: 300;
  font-size: 80px;
  line-height: 90%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-bottom: 10px;
}
.preipo-banner__text p {
  font-family: var(--headlineFont);
  font-weight: 300;
  font-size: 31px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
}

/* s-how-work */

.s-how-work {
  padding-top: 130px;
}
.s-how-work h2 {
  font-family: var(--headlineFont);
  font-weight: 400;
  font-size: 65px;
  line-height: 90%;
  color: #363f41;
  margin-bottom: 86px;
}
.how-work-stages {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -24px;
}
.how-work-stages .stages__item {
  width: 33.3%;
  flex-direction: column;
  position: relative;
  padding: 0 24px;
  margin-bottom: 80px;
}
.how-work-stages .stages__item .stages__item-number {
  margin-top: 0;
  margin-bottom: 10px;
}

.how-work-stages .stages__item::before {
  position: absolute;
  content: "";
  background: linear-gradient(
    0deg,
    rgba(224, 225, 226, 0) 0%,
    #e0e1e2 29.4%,
    rgba(224, 225, 226, 0.876953) 68.09%,
    rgba(224, 225, 226, 0.15625) 99.04%
  );
  width: 1px;
  right: 0;
  top: 0;
  bottom: 0;
}

/* s-benefit preipo-benefit */
.preipo-benefit {
  padding-top: 378px;
  margin-top: 379px;
  position: relative;
  background-color: #f2f8fb;
  background-image: url(../images/licence-gray-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
}
.preipo-benefit .benefit {
  padding: 0;
}
.preipo-benefit__img {
  position: absolute;
  top: -376px;
}

/*  */
.preipo-s-invest {
  background-color: #fff;
}

/* s-conditions */
.s-conditions {
  padding-top: 126px;
  padding-bottom: 116px;
  position: relative;
}
.s-conditions::before {
  content: "";
  position: absolute;
  background: #63be37;
  left: 0;
  right: 50%;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.s-conditions::after {
  content: "";
  position: absolute;
  background: #f7f7f7;
  left: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.main-conditions {
  display: flex;
}
.main-conditions__left {
  padding-right: 48px;
  width: 50%;
}
.main-conditions__left h2 {
  font-family: var(--headlineFont);
  font-weight: 400;
  font-size: 65px;
  line-height: 90%;
  color: #ffffff;
  margin-bottom: 85px;
}

.main-conditions__text {
  margin-bottom: 45px;
}
.main-conditions__text:last-child {
  margin-bottom: 0;
}
.main-conditions__text h5 {
  font-family: var(--headlineFont);
  font-weight: 400;
  font-size: 31px;
  line-height: 100%;
  color: #fff;
  margin-bottom: 20px;
}

.main-conditions__text-info {
  display: flex;
}
.main-conditions__text-info h3 {
  font-family: var(--headlineFont);
  font-weight: 400;
  font-size: 85px;
  line-height: 90%;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-bottom: 0;
  width: 45%;
}
.main-conditions__text-info p {
  font-family: var(--headlineFont);
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-bottom: 0;
}

.main-conditions__text-info h4 {
  font-family: var(--headlineFont);
  font-weight: 400;
  font-size: 80px;
  line-height: 90%;
  letter-spacing: -0.02em;
  color: #363f41;
}

.main-conditions__right .main-conditions__text-info p {
  color: #363f41;
  font-size: 30px;
}

.main-conditions__right {
  width: 50%;
  padding-left: 45px;
  .main-conditions__text {
    h5 {
      color: #7f94a9;
    }
  }
}

/* s-preipo-structure */

.s-preipo-structure {
  position: relative;
}
// .s-preipo-structure::before {
//   content: "";
//   height: 60px;
//   position: absolute;
//   bottom: -60px;
//   left: 0;
//   right: 0;
//   background-image: url(../images/gradient-line.png);
//   background-repeat: no-repeat;
//   background-position: center center;
// }
.preipo-structure {
  padding: 130px 0;
  &__img {
    width: 40%;
    img {
      width: 100%;
    }
  }
}
.preipo-structure h2 {
  font-family: var(--headlineFont);
  font-weight: 400;
  font-size: 65px;
  line-height: 90%;
  color: #363f41;
  margin-bottom: 130px;
}
.preipo-structure__info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 86px;
}

.preipo-structure__info .block-info {
  margin-right: 123px;
  width: 60%;
}
.preipo-structure__info .block-info h3 {
  font-family: var(--headlineFont);
  font-weight: 400;
  font-size: 45px;
  line-height: 90%;
  color: #363f41;
  margin-bottom: 35px;
}
.preipo-structure__info .block-info p {
  margin-bottom: 35px;
}
.preipo-structure__info .block-info p:last-child {
  margin-bottom: 0;
}

/* s-preipo-risks */

.s-preipo-risks {
  margin-bottom: 130px;
}
.s-preipo-risks h2 {
  font-family: var(--headlineFont);
  font-weight: 400;
  font-size: 65px;
  line-height: 90%;
  color: #363f41;
  margin-bottom: 86px;
}
.s-preipo-risks p {
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #425466;
}
.s-preipo-risks p:last-child {
  margin-bottom: 0;
}
